$white: #fff;
$black: #000;

$red: #FF4747;
$nearWhite: #F8F8F8;
$darkGrey: #383838;
$lightGrey: #E4E4E4;
$grey: #C4C4C4;
$blue: #0072CE;

$psDark: #B98029;
$psWhite: #FDD635;
$capComYellow: #FFCB08;
$capComBlue: #0C4DA2;
$footer: #065BAA;
$darkBg: #1F1F1F;
